* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: center;
}

html {
	background: #F9F7F2;
	color: #2F2D27;
}

html.dark {
	background: #49535C;
	color: #fff;
}

h1 {
	font-size: 42px;
	margin-bottom: 20px;
}

h2 {
	font-size: 36px;
	margin: 20px 0px;
}

h3 {
	font-size: 14px;
	font-family: Lato;
  	font-weight: bold;
  	color: #85868D;
  	/*text-transform: lower;*/
}

h4 {
	font-size: 18px;
	font-family: Lato;
	font-weight: 400;
}
.master-menu {
	float: right;
	text-align: right;
	opacity: 0.7;
}

.page-wrap {
	height: 100%;
	margin: 0 auto;
}

.paragraph-wrap {
	width: 700px;
	margin: 0 auto;

}

.carousel-wrap {
	position: relative;
}

.previous, .next {
	width: 50px;
	width: 25%;
	cursor: pointer;
}

.previous {
	text-align: left;
	/*background: linear-gradient(to left, rgba(255, 255, 255, 0.38) , #fff); /* Standard syntax */*/
}

.next {
	text-align: right;
	/*background: linear-gradient(to right, rgba(255, 255, 255, 0.38) , #fff); /* Standard syntax */*/
}

.previous i, .next i {
	margin-top: 20px;
	display: block;
	color: #eee;
}

.carousel-wrap .previous {
	position: absolute;
	left: 0px;
}

.carousel-wrap .next {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#carousel {
	padding: 20px;
}

#carousel ul li {
	width: 33%;
	float: left;
	font-size: 28px;
}

#carousel ul li:first-child {
	text-align: left;
	font-size: 16px;
}

#carousel ul li:last-child {
	text-align: right;
	font-size: 16px;
}

.tools {
	padding: 20px;
}

.tools input {
	width: 75%;
}

.tools > ul > li {
	float: left;
	width: 25%;
	cursor: pointer;
	padding: 8px;
}
.tools .style {
	position: relative;
}

.tools .style ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	background: #888E93;
}

.tools .style:hover ul {
	display: block;
}

.dark .tools .style:hover {
	background: #888E93;
}

.tools .theme div {
	display: inline-block;
	border: solid 1px;
	border-radius: 3px;
}

.tools .theme i {
	padding: 4px;
	display: block;
	float: left;
	width: 50%;
}

.tools .theme i:hover, .tools .theme i.selected {
	background: rgba(47, 45, 39, 0.8);
	color: #F9F7F2;
}

.dark .tools .theme i:hover, .dark .tools .theme i.selected {
	background: #fff;
	color: #4A525A;
}

.tools .style ul li {
	margin-left: 4px;
	float: none;
	width: 100%;
	text-align: left;
	padding: 8px;
}

.paragraph {
	max-width: 550px;
	margin: 0 auto;
	margin-top: 60px;
}

.paragraph p {
  text-align: left;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 19px;
}

.paragraph .first-paragraph::first-letter {
	font-size: 200%;
}

.wall {
	max-width: 1020px;
}

.wall .font {
	float: left;
	font-size: 48px;
	padding: 10px;
}


.blast-off {
	text-align: center;
	padding: 30px;
	position: fixed;
	bottom: 0px;
	z-index: -1;
	width: 100%;
	box-sizing: border-box;
	color: ;
}

.blast-off a {
	color: #969696;
}

.blast-off i:hover {
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}



.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
